PORT=5000
MONGO_URI=mongodb+srv://<db_user>:<db_password>@<cluster-url>/<db_name>?retryWrites=true&w=majority
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=1h
ADMIN_PASSWORD=replace-with-strong-admin-password
VITE_API_URL=http://localhost:5000
FRONTEND_ORIGIN=http://localhost:8080
SERVICE_PAGE_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSfOZHjzucvZ5ID3ClBuO9qXmykTAiPqQDC1X4xn5wiTCLa4CQ/viewform
SERVICE_PAGE_FORM_RESPONSE_URL=https://docs.google.com/forms/u/0/d/e/1FAIpQLSeqDDPAVou8yqhxm7DxUfoSI3aieBp_796WIUe4_3Sm2_MP3Q/formResponse
SERVICE_PAGE_FORM_ENTRY_IDS=entry.642944343,entry.1001639118,entry.1940470873,entry.1021924392,entry.104519797,entry.2107636565
